<div class="header">
    <mat-toolbar>
        <span class="title" [routerLink]="['/home/']">
            {{title}}
        </span>
        <span class="splitter"></span>
        <button
            title="Home"
            class="header-button"
            mat-button
            type="button"
            aria-label="Home page button"
            routerLink="/home">
            Home
        </button>
            <span class="menu-button-spacer"></span>
            <button
            title="Coffee"
            class="header-button"
            mat-button
            type="button"
            aria-label="Coffees page button"
            routerLink="/coffee">
            Coffee
        </button>
    </mat-toolbar>
</div>