
<div *ngIf="selectedCoffee">
  <table class="details" style="width:100%">
    <tr>
      <td>ID:</td>
      <td>{{selectedCoffee.id | number: '3.0-0'}}</td>
    </tr>
    <tr>
      <td>UID:</td>
      <td>{{selectedCoffee.uid}}</td>
    </tr>
    <tr>
      <td>Blend name:</td>
      <td>{{selectedCoffee.blend_name}}</td>
    </tr>
    <tr>
      <td>Origin:</td>
      <td>{{selectedCoffee.origin }}</td>
    </tr>
    <tr>
      <td>Variety:</td>
      <td>{{selectedCoffee.variety}}</td>
    </tr>
    <tr>
      <td>Notes:</td>
      <td>{{selectedCoffee.notes}}</td>
    </tr>
    <tr>
      <td>Intensifier:</td>
      <td>{{selectedCoffee.intensifier}}</td>
    </tr>
  </table>
</div>
