<div>
    Today's item: {{ selectedCoffee.blend_name }}
    <br>
    ID:<br>
    {{selectedCoffee.id | number: '3.0-0'}}
    <br>
    UID:<br>
    {{selectedCoffee.uid}}
    <br>
    Blend name:<br>
    {{selectedCoffee.blend_name}}
    <br>
    Origin:<br>
    {{selectedCoffee.origin}}
    <br>
    Variety:<br>
    {{selectedCoffee.variety}}
    <br>
    Notes:<br>
    {{selectedCoffee.notes}}
    <br>
    Intensifier:<br>
    {{selectedCoffee.intensifier}}

</div>

<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
        </button>
    </mat-drawer>
    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
        </button>
    </div>
</mat-drawer-container> -->
