<table class="my-coffees" border="1">
    <caption> My coffees </caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>UID</th>
            <th>Blend Name</th>
            <th>Origin</th>
            <th>Variety</th>
            <th>Notes</th>
            <th>Intensifier</th>
            <th>Update</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coffee of myCoffees">
            <td>{{coffee.id}}</td>
            <td>{{coffee.uid}}</td>
            <td>{{coffee.blendName}}</td>
            <td>{{coffee.origin}}</td>
            <td>{{coffee.variety}}</td>
            <td>{{coffee.notes}}</td>
            <td>{{coffee.intensifier}}</td>
            <td><button mat-raised-button color="accent" (click)="updateCoffees(coffee.id)">Update</button></td>
            <td><button mat-raised-button color="warn" (click)="deleteCoffee(coffee.id)">Delete</button></td>
        </tr>
    </tbody>
</table>

<div>
    <button mat-raised-button color="primary" (click)="getWelcomeMessageWithParameter()"> Get Welcome Message</button>
</div>

<div *ngIf="deletionMessage">{{deletionMessage}}</div>

<div>
    <button class="" mat-raised-button color="basic" (click)="addCoffee()">Add Coffee</button>
</div>

<div *ngIf="welcomeMessageFromService">
    <h2>Your customized welcome message</h2>
    {{welcomeMessageFromService}}
</div>