
<div>
<table class="coffee-list-table" mat-table [dataSource]="dataSource">

    <!-- Blend name Column -->
    <ng-container matColumnDef="blend_name">
        <th mat-header-cell *matHeaderCellDef> Blend name </th>
        <td mat-cell *matCellDef="let coffee"> {{coffee.blend_name}} </td>
    </ng-container>

    <!-- Origin Column -->
    <ng-container matColumnDef="origin">
        <th mat-header-cell *matHeaderCellDef> Origin </th>
        <td mat-cell *matCellDef="let coffee"> {{coffee.origin}} </td>
    </ng-container>

    <!-- Variety Column -->
    <ng-container matColumnDef="variety">
        <th mat-header-cell *matHeaderCellDef> Variety </th>
        <td mat-cell *matCellDef="let coffee"> {{coffee.variety}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row
        (click)="selectedCoffee = coffee"
        [class.demo-row-is-clicked]="selectedCoffee == coffee"
        *matRowDef="let coffee; columns: columnsToDisplay"
        [routerLink]="['/coffee/', coffee.id]"
        >
    </tr>
</table>

<mat-paginator
    [pageSize]= 10
    [length]="50"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
</mat-paginator>

</div>

<app-coffee-details
    *ngIf="selectedCoffee"
    [selectedCoffee]="selectedCoffee">
</app-coffee-details>
