
<div>
    <div class="filler"><span>Coffee Menu</span></div>
    <mat-drawer-container class="details-container" autosize>
            <table class="coffee-list-table" mat-table [dataSource]="dataSource">

                <!-- Blend name Column -->
                <ng-container matColumnDef="blend_name">
                    <th mat-header-cell *matHeaderCellDef> Blend name </th>
                    <td mat-cell *matCellDef="let coffee"> {{coffee.blend_name}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row
                    button type="button" mat-button (click)="drawer.toggle()"
                    (click)="selectedCoffee = coffee"
                    [class.demo-row-is-clicked]="selectedCoffee == coffee"
                    *matRowDef="let coffee; columns: columnsToDisplay"
                    [routerLink]="['/coffee/', coffee.id]"
                    >
                </tr>
            </table>
            <mat-drawer #drawer class="details-sidenav" mode="side">
                <div *ngIf="selectedCoffee">
                    <table class="details" style="width:100%">
                        <tr>
                          <td>ID:</td>
                          <td>{{selectedCoffee.id | number: '3.0-0'}}</td>
                        </tr>
                        <tr>
                          <td>UID:</td>
                          <td>{{selectedCoffee.uid}}</td>
                        </tr>
                        <tr>
                          <td>Blend name:</td>
                          <td>{{selectedCoffee.blend_name}}</td>
                        </tr>
                        <tr>
                          <td>Origin:</td>
                          <td>{{selectedCoffee.origin }}</td>
                        </tr>
                        <tr>
                          <td>Variety:</td>
                          <td>{{selectedCoffee.variety}}</td>
                        </tr>
                        <tr>
                          <td>Notes:</td>
                          <td>{{selectedCoffee.notes}}</td>
                        </tr>
                        <tr>
                          <td>Intensifier:</td>
                          <td>{{selectedCoffee.intensifier}}</td>
                        </tr>
                    </table>
                </div>
            </mat-drawer>
        <mat-paginator
            [pageSize]= 10
            [length]="50"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </mat-drawer-container>
</div>

<router-outlet></router-outlet>