.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    background-color: #FAEBD7;
}

.coffee-list-table {
    margin-left: 10px;
}

.details-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.details-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.details-sidenav {
    padding: 20px;
}
