
<div>
    <div class="filler"><span>Coffee Menu</span></div>
    <mat-drawer-container class="details-container" autosize>
            <table class="coffee-list-table" mat-table [dataSource]="dataSource">

                <!-- Blend name Column -->
                <ng-container matColumnDef="blend_name">
                    <th mat-header-cell *matHeaderCellDef> Blend name </th>
                    <td mat-cell *matCellDef="let coffee"> {{coffee.blend_name}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row
                    button type="button" mat-button (click)="drawer.toggle()"
                    (click)="selectedCoffee = coffee"
                    [class.demo-row-is-clicked]="selectedCoffee == coffee"
                    *matRowDef="let coffee; columns: columnsToDisplay"
                    [routerLink]="['/coffee/', coffee.id]"
                    >
                </tr>
            </table>
            <mat-drawer #drawer class="details-sidenav" mode="side">
                <div *ngIf="selectedCoffee">
                    {{ selectedCoffee.blend_name }}
                    <br>
                    ID: {{selectedCoffee.id | number: '3.0-0'}}
                    <br>
                    UID: {{selectedCoffee.uid}}
                    <br>
                    Blend name: {{selectedCoffee.blend_name}}
                    <br>
                    Origin:{{selectedCoffee.origin}}
                    <br>
                    Variety:{{selectedCoffee.variety}}
                    <br>
                    Notes:{{selectedCoffee.notes}}
                    <br>
                    Intensifier: {{selectedCoffee.intensifier}}
                </div>
            </mat-drawer>
        <mat-paginator
            [pageSize]= 10
            [length]="50"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </mat-drawer-container>
</div>

<router-outlet></router-outlet>