.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    padding-right: 50px;
    cursor: pointer;
}

.coffee-list-table {
margin-left: 10px;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}
