.menu-button-spacer {
  margin-left: 1em
}

.title {
  cursor: pointer;
  background: #41bdad;
  color:#FFFFFF;
  font-size: 20px;
  text-decoration: none;

  *{
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
  }
}

.splitter {
  width: 80%;
}

.header .mat-toolbar {
  position: relative;
  background: #41bdad;

  .header-button {
      margin-left: 3px;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 600;
  }
}
