.users-options {
    min-width: fit-content;
    max-width: fit-content;
    padding: 5px;
  }

  .mat-sidenav-container {
    background: #3f51b5;
    height: fit-content;
    padding: 5px;
  }

  h2 {
    font-weight: 500;
    padding: 0 16px;
    color: #FFFFFF;
  }

  .sidenav-button {
    color:#FFFFFF;
  }
