<div class="users-options">
    <mat-sidenav-container>
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" mode="side" position="end">
        </mat-sidenav>
        <mat-sidenav-content>
        <h2>Coffees' menu</h2>
        <button
            class="sidenav-button"
            mat-button
            type="button"
            aria-label="Show coffees' list button"
            routerLink="/coffee/coffee-list">
            List
        </button>
        <br>
        <br>
        <button
            class="sidenav-button"
            mat-button
            type="button"
            aria-label="Show coffee's details button"
            routerLink="/coffee/coffee-details">
            Details
        </button>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>